@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

.input-chat{
  position: sticky;
  top: 0;
  text-align: right;
}
button{
  border: none;
  padding: 12px 20px;
  background-color: teal;
  color: white;
  font-size: large;
}
.message.respuesta {
    background-color: teal;
    color: white;
    border-radius: 0 15px 15px;
}

.message.pregunta {
  background-color: grey;
  color: white;
  border-top-left-radius: 0px;
  padding-left: 30px;
  border-radius: 15px 0px 15px 15px;

   align-self: flex-end;
}
.message {
  width: 100%;
  font-size: 16px;
  line-height: 25px;
  width: fit-content;
  max-width: 450px;
  margin: 20px 10px;
  padding: 20px;
  padding-left: 20px;
  font-family: 'Quicksand', sans-serif;
}
.salida{
  width: 100%;
  display: flex;
  flex-direction: column;
}

textarea {
  width: calc(100% - 24px);
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

a:link,a:visited,a:hover,a:active {
  color: black;
}
